[core]
	editor = lvim
	editor = nvim
  pager = delta
	autocrlf = false 
[interactive]
  diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
    mergetool = nvimdiff3
[user]
	name = Gracjan Górecki
	email = gracjan.gorecki@proton.me
	signingkey = E35EC287C73D802E
[init]
	defaultBranch = main
[credential "https://github.com"]
  helper = !~/.nix-profile/bin/gh auth git-credential
[push]
  autoSetupRemote = true
[pull]
	rebase = true
[cola]
	spellcheck = false
	theme = flat-dark-red
[commit]
	gpgsign = true
	; gpgsign = true
[tag]
	gpgSign = true
[alias]
	logs = log --show-signature
	cis = commit -S
	co = checkout
	br = branch
	ci = commit
	st = status
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	program = gpg
