[core]
	editor = lvim
[user]
	name = ggorecki 
	email = gorecki.gracjan@gmail.com
	signingkey = AF04115B10BCA32E0CA6245CC576705F98801502
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[pull]
	rebase = true
[cola]
	spellcheck = false
	theme = flat-dark-red
[commit]
	gpgsign = true
[tag]
	gpgSign = true
