[core]
	editor = nvim
[user]
	name = Gracjan Gorecki
	email = gorecki.gracjan@hotmail.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[pull]
	rebase = true
[cola]
	spellcheck = false
