
configuration {
	font: "DejaVu 12";
	icon-theme: "Gruvbox-Material-Dark";
  display-drun: "";
  drun-display-format: "{name}";
  disable-history: true;
  fullscreen: false;
	hide-scrollbar: true;
	sidebar-mode: false;
  show-icons: false;
}

@import "colors.rasi"

