input {
    keyboard {
        xkb {
            layout "pl"
            options "caps:super"
        }
    }

    touchpad {
        // tap
        accel-speed 0.2
    }

    mouse { }

    trackpoint {
        accel-speed 0.9
    }
}

output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
}

layout {
    gaps 16 
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        off
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts { }
}

spawn-at-startup "cosmic-ext-alternative-startup"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    off
}

window-rule {
    open-maximized true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "foot"; }
    Mod+T { spawn "foot"; }
    Mod+Shift+B { spawn "foot" "-e" "bluetui"; }
    Mod+Shift+A { spawn "foot" "-e" "wiremix" "-v" "output"; }
    Mod+D { spawn "cosmic-launcher"; }
    Mod+Shift+D { spawn "sh" "-lc" "~/.config/scripts/powermenu"; }
    Mod+Alt+L { spawn "cosmic-greeter"; }
    Mod+B { spawn "~/.local/bin/zen"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }

    Mod+Shift+Q { close-window; }
    Mod+Q { close-window; }

    // focus (vim)
    Mod+H { focus-column-left; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    Mod+L { focus-column-right; }

    // move windows
    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-to-workspace-down; }
    Mod+Shift+K { move-window-to-workspace-up; }
    Mod+Shift+L { move-column-right; }

    // column ordering (vim-style)
    Mod+G { focus-column-first; }
    Mod+Shift+G { focus-column-last; }
    Mod+Ctrl+G { move-column-to-first; }
    Mod+Ctrl+Shift+G { move-column-to-last; }

    // monitor focus
    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+J { focus-monitor-down; }
    Mod+Ctrl+K { focus-monitor-up; }
    Mod+Ctrl+L { focus-monitor-right; }

    // move column to monitor
    Mod+Ctrl+Shift+H { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+J { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+K { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+L { move-column-to-monitor-right; }

    // workspaces
    // Mod+Tab { focus-workspace-previous; }

    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }

    // Mod+O { focus-workspace-up; }
    Mod+P { focus-workspace-previous; }

    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    Mod+Ctrl+O { move-column-to-workspace-up; }
    Mod+Ctrl+P { move-column-to-workspace-down; }

    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { spawn "niri" "msg" "action" "redraw"; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+Shift+F { fullscreen-window; }
    Mod+F { maximize-column; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }

    Mod+Shift+Space { toggle-window-floating; }
    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    Print { spawn "sh" "-lc" "flameshot gui --raw | wl-copy"; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P {
        spawn "~/.config/niri/scripts/toggle-external.sh"
    }

    Mod+Shift+O {
        spawn "~/.config/niri/scripts/toggle-edp.sh"
    }

    Mod+W { toggle-overview; }

    Mod+Alt+M {
      spawn-sh "~/.config/niri/scripts/niri-zoom in"
    }

    Mod+Alt+N {
      spawn-sh "~/.config/niri/scripts/niri-zoom out"
    }
}
