# direnv configuration for NixOS development
# Automatically loads the development shell when entering this directory
#
# Setup:
# 1. Install direnv: https://direnv.net/
# 2. Add to your shell rc file: eval "$(direnv hook bash)" or similar
# 3. Run: direnv allow
#
# This will automatically run 'nix develop' when you cd into this directory

use flake
